<!DOCTYPE html>
<html lang="en">
<head>
	<title>Grid Dashboard</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Cache-Control" content="no-store" />
	<!-- have IE 11 not asking for browserconfig.xml -->
	<meta name="msapplication-config" content="none" />
	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="./bower_components/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- Fonts Awesome -->
	<link href="./bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<style>
		table > thead > tr > th {
			text-align: center;
		}
		table > tbody > tr > td {
			text-align: center;
		}
		.panel-heading {
			  font-weight: bold;
		}
	</style>
</head>
<body ng-app="GridConsoleApp" ng-controller="GridConsoleController">
<div class="container">
	<div class="panel panel-primary" style="margin-top:20px;">
		<div class="panel-heading">Grid Dashboard</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-8">
					<div class="panel-group">
						<div class="panel panel-success">
							<div class="panel-heading">Nodes</div>
							<div class="panel-body">
								<div class="table-responsive"> 
									<table class="table table-striped table-bordered table-condensed">
										<thead>
											<tr>
												<th>Node</th>
												<th>IP</th>
												<th>Port</th>
												<th>Total CPUs</th>
												<th>Available CPUs</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="node in nodesStatusView['nodes']">
												<td>{{ node.name }}</td>
												<td>{{ node.ip }}</td>
												<td>{{ node.port }}</td>
												<td>{{ node.num_cpus }}</td>
												<td>{{ node.available_cpus }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="panel panel-info">
							<div class="panel-heading">Jobs</div>
							<div class="panel-body">
								<div class="table-responsive"> 
									<table class="table table-striped table-bordered table-condensed">
										<thead>
											<tr>
												<th>Job Id</th>
												<th>Description</th>
												<th>Cookie</th>
												<th>Status</th>
												<th>Completion</th>
												<th>%</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="jp in trackedJobsView">
												<td>{{ jp.job_id }}</td>
												<td>{{ jp.description }}</td>
												<td>{{ jp.cookie }}</td>
												<td>{{ jp.status }}</td>
												<td>{{ jp.num_tasks_finished +'/'+ jp.num_tasks }}</td>
												<td>{{ jp.complete_pct.toFixed(2) + '%' }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="panel-group">
						<div class="panel panel-warning">
							<div class="panel-heading">Queue</div>
							<div class="panel-body">
								<div class="table-responsive"> 
									<table class="table table-striped table-bordered table-condensed">
										<thead>
											<tr>
												<th>Job Id</th>
												<th>No. Tasks</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in queueStatusView['num_tasks_by_job']">
												<td>{{ item.job_id }}</td>
												<td>{{ item.num_tasks }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<!-- jQuery -->
	<script src="./bower_components/jquery/1.11.2/jquery.min.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="./bower_components/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	 <!-- Angular JS JavaScript -->
	<script src="./bower_components/angularjs/1.3.14/angular.min.js"></script>
	<!-- STOMP messaging JavaScript -->
	<script src="./bower_components/stomp/stomp.js"></script>
	<script src="./bower_components/stomp/stomp_msg_broker.js"></script>
	<!-- Main app JavaScript -->
	<script src="./gridConsoleApp.js"></script>
</body>
</html>